<div class = "hero-unit">

	<h1>Welcome to One Month Rails</h1>
	<p>You've found the home page for the
	  <%= link_to "One Month Rails", "http://onemonthrails.com"%>
	</p>

	<p>
	  <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large"%>
	</p>
	<div class="dropdown">
  <!-- Link or button to toggle dropdown -->
	<select>  
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	    <option> <li><a tabindex="-1" href="#">Action</a></li> </option>
	    <option> <li><a tabindex="-1" href="#">Another action</a></li> </option>
	    <option> <li><a tabindex="-1" href="#">Something else here</a></li> </option>
	  </ul>
	</select>  
</div>
</div>		



<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Some Sweet Rails</h3>
      <p>More sweet rails</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>More Rails Action</h3>
      <p>Rails All Day</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>RAILS 3</h3>
      <p>Rubys on Rails or wait</p>
    </div>
  </li>
</ul>

	

<div class = "footer">
  <small>
    <a href="http://onemonthrails.com"> One Month Rails </a>
  </small>

</div>
