

<h1>Welcome to One Month Rails</h1>
<p>You've found the home page for the
  <%= link_to "One Month Rails", "http://onemonthrails.com"%>
</p>

<p>
  <%= link_to "Sign Up Now", "#"%>
</p>	

<div class = "footer">
  <small>
    <a href="http://onemonthrails.com"> One Month Rails </a>
  </small>

</div>
